@import "tailwindcss";

@theme {
    body {
        background-color: #222222
    }

    .text-shadow-custom {
        text-shadow: 2px 2px 6px rgba(118, 49, 189, 0.5);
    }
}

body {
    background-color: #1b1324;
    color: #f0f0f0f0;
}

.text-shadow-custom {
    text-shadow: 2px 2px 4px rgba(118, 49, 189, 0.7);
}